{% extends "home/basic.html" %} {% load static%}
{% block title %}
About Us
{% endblock title %}
{% block heading_style_about %} style="color:red;text-decoration: underline;" {% endblock heading_style_about %}
{% block body %}
<div class="about">
    <div class="pic_crousal">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/media/{{photo.0.photo}}" class="d-block w-1000" alt="...">
                </div>
                {% for i in photo|slice:"1:"%}
                <div class="carousel-item">
                    <img src="/media/{{i.photo}}" class="d-block w-1000" alt="...">
                </div>
                {% endfor%}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="about_info">
        <marquee direction="left" height="100" width="100" class="slider">Contact Details :. phone : +91 8287794876 Email :. ayshguptacomp120@gmail.com</marquee>
        <h4>Welcome</h4>
        <h5>To "Apna Carrer"</h5>
        <p><strong>About Devloper:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis rem aliquid quos quam aliquam animi doloribus natus veniam sapiente sequi velit vitae, modi illo! Ea explicabo laborum omnis possimus ullam
            autem impedit, ducimus veritatis, at sit rem quia doloremque.</p>
        <div class="education">

            <p><strong>Education: </strong> <br> BTECH (CSE) From MDU</p>
            <p><strong>technologies Known: </strong> <br> Web Devlopment <br> * HTML <br> * CSS <br> * JAVASCRIPT <br> * React-js
                <br> <strong>Backend</strong> <br> * PHP <br> * Django <br> <strong>Database</strong> <br> * MYSQL
                <br> * MONGODB <br><strong>Languages</strong><br> * C,C++,JAVA,Python <br> <strong>Experties In AI/ML
                    Datascience
                    Projects..</strong>
            </p>
        </div>


    </div>
</div>
{% endblock body %}