{% extends "home/basic.html" %} {% load static%} {% block heading_style_projects %}
style="color:red;text-decoration:underline;" {% endblock heading_style_projects %} {% block title %} Projects {% endblock title %} 
{% block body %}

<div class="main_project container">
{% for i in details %}
    <div class="project_box">
        <div class="project_title">
            {{i.heading}}
        </div>
        <div class="project_images">
            <img style="width: 45%;" src="/media/{{i.project_image}}" alt="">
        </div>
        <div class="project_desc">
            {{i.project_descp}}
        </div>
        <a target="blank" href={{i.project_link}}><button type="submit" class="btn btn-primary">Visit Project</button></a>

    </div>
{% endfor %}
</div> 


{% endblock body %}